# generated-from:c1a2782e29b1fa8c2fffb50af5cbb1b78e194bfa2cf1c3e93219bcfdf315e836 DO NOT REMOVE, DO UPDATE
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

.DS_Store

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
bin/
*.db

/lint-project.sh
misspell*
staticcheck*
coverage.txt
gitleaks.tar.gz

pkger*
pkged.go
cover.out

.idea/
.vscode/

/storage/ftp/*
!/storage/ftp/.keep

/data/
/vendor/
