# generated-from:417eda58ef45b7bc37123b3a89af65524aeb39e9ec7b624c7fed05d9d2013660 DO NOT REMOVE, DO UPDATE

version: '3'

services:
  harness:
    image: moov/ach-test-harness:v0.6.4
    networks:
      - intranet
    ports:
      - "2222:2222"
      - "3333:3333"
      - "30000-30009:30000-30009"
    volumes:
      - "./examples:/examples"
    environment:
      - APP_CONFIG=/examples/config.yml

networks:
  intranet:
